{% extends 'base.html' %}

    {% block content %}
        <main>
            <table>
                <thead>
                    <td>Name</td>
                    <td>Number</td>
                    <td>Number of receipts</td>
                </thead>
                <tbody>
                    {% for account in account_list %}
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% endblock content %}
