{% extends 'base.html' %}

    {% block content %}
        <main>
            <table>
                <thead>
                    <td>Name</td>
                    <td>Number of receipts</td>
                </thead>
                <tbody>
                    {% for expense in expense_list %}
                        <td>{{ expense.name }}</td>
                        <td>{{ expense.receipts.all|length }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% endblock content %}
