{% extends 'base.html' %}

    {% block content %}
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <td>Vendor</td>
                    <td>Total</td>
                    <td>Tax</td>
                    <td>Date</td>
                    <td>Category</td>
                    <td>Account</td>
                </thead>
                <tbody>
                    {% for receipt in receipt_list %}
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:"m/d/y" }}</td>
                        <td>{{ receipt.category }}</td>
                        <td>{{ receipt.account }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% endblock content %}
